.nav-item.active a {
    background: none !important;
}

.nav-item.active {
    border-bottom: 2px solid #4285f4;
}

.card-header {
    cursor: pointer;
}

.list-group-item .btn-outline-primary:hover {
	background: #4285f4 !important;
	color: white !important;
}